<p id="notice"><%= notice %></p>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <%if !@word.nil? %>
    <div class="btn-group"> 
        <%= form_tag word_path, method: :get, remote: true do %>
        <%= button_tag 'Untranslate', :class => "buttonWord", :id => 'UntranslateButton'%>
        <%end%>
    </div>

    <div class="btn-group">
        <%= form_tag word_path, method: :get, remote: true do %>
        <%= button_tag 'Translate', :class => "buttonWord", :id => "TranslateButton" %>
        <%end%>
    </div>
    <div id="translationShow">
        <%= render 'word' %>
    </div>

                  <iframe 
                   height="1000px"
                   width="1000px"
                   frameborder="0" style="border:0"
                   src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBX8hQcoSEtucwisPltvD2u0Xsl7nZg77I
                     &q=<%= (@word.language).gsub(/(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)/, '\1+\2+\3+\4+\5+\6+\7+\8')%>&q=seattle+washington&q=arizona" allowfullscreen>
                  </iframe><br>



<%= link_to 'Edit', edit_word_path(@word) %> | 
<%else %>
This word belongs to another user 
<%end%>
<%= link_to 'Back', words_path %>
